extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='./localhost/users') Users
  = '\n'
  a(href='./localhost/characters') Characters
  = '\n'
  a(href='./localhost/alliances') Alliances